<a href="https://colab.research.google.com/github/pdimplesree/llyear--lV-sem-FDS/blob/main/Unit-1-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data={'ID':[101,102,103,104,105],
      'Name':['Alice','Bob','Charlie','David','Eve'],
      'Age':[25,None,29,33,None],
      'Salary':[55000,48000,None,62000,None]}
df = pd.DataFrame(data)
df_cleaned = df.dropna()
print(df_cleaned)

    ID   Name   Age   Salary
0  101  Alice  25.0  55000.0
3  104  David  33.0  62000.0

In [2]:
for column in df.columns:
  if df[column].dtype == 'float64' or df[column].dtype == 'int64':
    df[column].fillna(df[column].mean(),inplace=True)
  print(df)

    ID     Name   Age   Salary
0  101    Alice  25.0  55000.0
1  102      Bob   NaN  48000.0
2  103  Charlie  29.0      NaN
3  104    David  33.0  62000.0
4  105      Eve   NaN      NaN
    ID     Name   Age   Salary
0  101    Alice  25.0  55000.0
1  102      Bob   NaN  48000.0
2  103  Charlie  29.0      NaN
3  104    David  33.0  62000.0
4  105      Eve   NaN      NaN
    ID     Name   Age   Salary
0  101    Alice  25.0  55000.0
1  102      Bob  29.0  48000.0
2  103  Charlie  29.0      NaN
3  104    David  33.0  62000.0
4  105      Eve  29.0      NaN
    ID     Name   Age   Salary
0  101    Alice  25.0  55000.0
1  102      Bob  29.0  48000.0
2  103  Charlie  29.0  55000.0
3  104    David  33.0  62000.0
4  105      Eve  29.0  55000.0

/tmp/ipython-input-3886253143.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(),inplace=True)
/tmp/ipython-input-3886253143.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(),inplace=True)
/tmp/ipython-input-3886253143.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(),inplace=True)

In [3]:
import pandas as pd
for column in df.columns:
  if df[column].isnull().any():
    df['{column}_Flag'] = df[column].isna().apply(lambda x: 'Missing' if x else 'Not Missing')
df['Missing_Flag'] = df.isnull().any(axis=1).apply(lambda x: 'Missing' if x else 'Not Missing')
print(df)

    ID     Name   Age   Salary Missing_Flag
0  101    Alice  25.0  55000.0  Not Missing
1  102      Bob  29.0  48000.0  Not Missing
2  103  Charlie  29.0  55000.0  Not Missing
3  104    David  33.0  62000.0  Not Missing
4  105      Eve  29.0  55000.0  Not Missing

In [4]:

import pandas as pd


# Step 1: Create sample dataset

data = {
    'ID': [101, 102, 103, 104,102,106,101],
    'Name': ['Alice', 'Bob', 'Charlie','David', 'Bob', 'Alice','Alica'],
    'Age': [25,29,29,33,29,27,25],
    'Salary': [50000, 48000,55000 , 62000, 50000,59000, 55000],
    'city': ['NY','LA','NY','SF','LA','LA','NY']
}

# Step 2: Create DataFrame

df = pd.DataFrame(data)

print("Original Dataset:")
print(df,'\n')
#exact match
df_cleaned = df.drop_duplicates()
print("duplicate removed-exact match")
print(df_cleaned,'\n')

df_cleaned_id = df.drop_duplicates(subset=['ID'])
print("Duplicates Removed -partial match based on ID")
print(df_cleaned_id,'\n')
df_cleaned_name=df.drop_duplicates(subset=['Name'])
print("Duplicate Removed-Partial match based on  Name")
print(df_cleaned_name,"\n")
df_cleaned_specific=df.drop_duplicates(subset=['ID','Name'])
print("Duplicate Removed-Partial match based on ID and Name")
print(df_cleaned_specific,"\n")

Original Dataset:
    ID     Name  Age  Salary city
0  101    Alice   25   50000   NY
1  102      Bob   29   48000   LA
2  103  Charlie   29   55000   NY
3  104    David   33   62000   SF
4  102      Bob   29   50000   LA
5  106    Alice   27   59000   LA
6  101    Alica   25   55000   NY

duplicate removed-exact match
    ID     Name  Age  Salary city
0  101    Alice   25   50000   NY
1  102      Bob   29   48000   LA
2  103  Charlie   29   55000   NY
3  104    David   33   62000   SF
4  102      Bob   29   50000   LA
5  106    Alice   27   59000   LA
6  101    Alica   25   55000   NY

Duplicates Removed -partial match based on ID
    ID     Name  Age  Salary city
0  101    Alice   25   50000   NY
1  102      Bob   29   48000   LA
2  103  Charlie   29   55000   NY
3  104    David   33   62000   SF
5  106    Alice   27   59000   LA

Duplicate Removed-Partial match based on  Name
    ID     Name  Age  Salary city
0  101    Alice   25   50000   NY
1  102      Bob   29   48000   LA
2  103  Charlie   29   55000   NY
3  104    David   33   62000   SF
6  101    Alica   25   55000   NY

Duplicate Removed-Partial match based on ID and Name
    ID     Name  Age  Salary city
0  101    Alice   25   50000   NY
1  102      Bob   29   48000   LA
2  103  Charlie   29   55000   NY
3  104    David   33   62000   SF
5  106    Alice   27   59000   LA
6  101    Alica   25   55000   NY

In [5]:

df_cleaned_id=df.drop_duplicates(subset=["ID"])
print("Duplicates Removed-Partial Match based on ID")
print(df_cleaned_id,'\n')

df_cleaned_name=df.drop_duplicates(subset=["Name"])
print("Duplicates Removed-Partial Match based on Name")
print(df_cleaned_name,'\n')

df_cleaned_specific=df.drop_duplicates(subset=["ID",'Name'])
print("Duplicates Removed-Partial Match based on ID and Name")
print(df_cleaned_specific,'\n')

Duplicates Removed-Partial Match based on ID
    ID     Name  Age  Salary city
0  101    Alice   25   50000   NY
1  102      Bob   29   48000   LA
2  103  Charlie   29   55000   NY
3  104    David   33   62000   SF
5  106    Alice   27   59000   LA

Duplicates Removed-Partial Match based on Name
    ID     Name  Age  Salary city
0  101    Alice   25   50000   NY
1  102      Bob   29   48000   LA
2  103  Charlie   29   55000   NY
3  104    David   33   62000   SF
6  101    Alica   25   55000   NY

Duplicates Removed-Partial Match based on ID and Name
    ID     Name  Age  Salary city
0  101    Alice   25   50000   NY
1  102      Bob   29   48000   LA
2  103  Charlie   29   55000   NY
3  104    David   33   62000   SF
5  106    Alice   27   59000   LA
6  101    Alica   25   55000   NY