<a href="https://colab.research.google.com/github/pdimplesree/llyear--lV-sem-FDS/blob/main/Unit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Create the dataset
data = {
    'ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, None, 29, 33, None],
    'Salary': [55000, 48000, None, 62000, None]
}

# Convert dictionary to DataFrame
df = pd.DataFrame(data)
print(data)
# Remove rows with missing values
df_cleaned = df.dropna()

# Print the cleaned DataFrame
print(df_cleaned)

{'ID': [101, 102, 103, 104, 105], 'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'], 'Age': [25, None, 29, 33, None], 'Salary': [55000, 48000, None, 62000, None]}
    ID   Name   Age   Salary
0  101  Alice  25.0  55000.0
3  104  David  33.0  62000.0

In [ ]:
for column in df.columns:
    if df[column].dtype in ["float64", "int64"]:
        df[column] = df[column].fillna(df[column].mean())

print(df)

    ID     Name   Age   Salary
0  101    Alice  25.0  55000.0
1  102      Bob  29.0  48000.0
2  103  Charlie  29.0  55000.0
3  104    David  33.0  62000.0
4  105      Eve  29.0  55000.0

In [ ]:
import pandas as pd

# Create a column-based flag
for column in df.columns:
    if df[column].isnull().any():
        df[f"{column}_flag"] = df[column].isna().apply(lambda x: "Missing" if x else "Not Missing")

# Create a row-based flag
df["Missing_Flag"] = df.isnull().any(axis=1).apply(lambda x: "Missing" if x else "Not Missing")

print(df)

    ID     Name   Age   Salary Missing_Flag
0  101    Alice  25.0  55000.0  Not Missing
1  102      Bob  29.0  48000.0  Not Missing
2  103  Charlie  29.0  55000.0  Not Missing
3  104    David  33.0  62000.0  Not Missing
4  105      Eve  29.0  55000.0  Not Missing

In [ ]:
import pandas as pd


# Step 1: Create sample dataset

data = {
    'ID': [101, 102, 103, 104,102,106,101],
    'Name': ['Alice', 'Bob', 'Charlie','David', 'Bob', 'Alice','Alica'],
    'Age': [25,29,29,33,29,27,25],
    'Salary': [50000, 48000,55000 , 62000, 50000,59000, 55000],
    'city': ['NY','LA','NY','SF','LA','LA','NY']
}

# Step 2: Create DataFrame

df = pd.DataFrame(data)

print("Original Dataset:")
print(df,'\n')


# Step 3: Check missing values

print("\nMissing values in each column:")
print(df.isnull().sum())


# Step 4: Drop rows with missing values

df_no_missing = df.dropna()

print("\nDataset after removing missing values:")
print(df_no_missing)


# Step 5: Remove exact duplicates (all columns)

df_no_duplicates = df_no_missing.drop_duplicates()

print("\nDataset after removing duplicate rows:")
print(df_no_duplicates)


# Step 6: Remove duplicates based on specific columns (Name, Age)

df_partial_duplicates = df.drop_duplicates(subset=['Name', 'Age'])

print("\nDataset after removing duplicates based on Name and Age:")
print(df_partial_duplicates)

Original Dataset:
    ID     Name  Age   Salary
0  101    Alice   25  50000.0
1  102      Bob   30  60000.0
2  103  Charlie   35      NaN
3  104    Alice   25  50000.0
4  105      Bob   30  60000.0
5  106    Alice   25      NaN

Missing values in each column:
ID        0
Name      0
Age       0
Salary    2
dtype: int64

Dataset after removing missing values:
    ID   Name  Age   Salary
0  101  Alice   25  50000.0
1  102    Bob   30  60000.0
3  104  Alice   25  50000.0
4  105    Bob   30  60000.0

Dataset after removing duplicate rows:
    ID   Name  Age   Salary
0  101  Alice   25  50000.0
1  102    Bob   30  60000.0
3  104  Alice   25  50000.0
4  105    Bob   30  60000.0

Dataset after removing duplicates based on Name and Age:
    ID     Name  Age   Salary
0  101    Alice   25  50000.0
1  102      Bob   30  60000.0
2  103  Charlie   35      NaN

In [ ]:
#29-12-2025
#same as above
import pandas as pd
# Create the dataset
data = {
    'ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, None, 29, 33, None],
    'Salary': [55000, 48000, None, 62000, None]
}
df = pd.DataFrame(data)
#print(data)
#Remove rows with missing values
df_cleaned = df.dropna()
print(df_cleaned)

    ID   Name   Age   Salary
0  101  Alice  25.0  55000.0
3  104  David  33.0  62000.0

In [ ]:
import pandas as pd


# Step 1: Create sample dataset

data = {
    'ID': [101, 102, 103, 104,102,106,101],
    'Name': ['Alice', 'Bob', 'Charlie','David', 'Bob', 'Alice','Alica'],
    'Age': [25,29,29,33,29,27,25],
    'Salary': [50000, 48000,55000 , 62000, 50000,59000, 55000],
    'city': ['NY','LA','NY','SF','LA','LA','NY']
}

# Step 2: Create DataFrame

df = pd.DataFrame(data)

print("Original Dataset:")
print(df,'\n')
#exact match
df_cleaned = df.drop_duplicates()
print("duplicate removed-exact match")
print(df_cleaned,'\n')

df_cleaned_id = df.drop_duplicates(subset=['ID'])
print("Duplicates Removed -partial match based on ID")
print(df_cleaned_id,'\n')
df_cleaned_name=df.drop_duplicates(subset=['Name'])
print("Duplicate Removed-Partial match based on  Name")
print(df_cleaned_name,"\n")
df_cleaned_specific=df.drop_duplicates(subset=['ID','Name'])
print("Duplicate Removed-Partial match based on ID and Name")
print(df_cleaned_specific,"\n")

Original Dataset:
    ID     Name  Age  Salary city
0  101    Alice   25   50000   NY
1  102      Bob   29   48000   LA
2  103  Charlie   29   55000   NY
3  104    David   33   62000   SF
4  102      Bob   29   50000   LA
5  106    Alice   27   59000   LA
6  101    Alica   25   55000   NY

duplicate removed-exact match
    ID     Name  Age  Salary city
0  101    Alice   25   50000   NY
1  102      Bob   29   48000   LA
2  103  Charlie   29   55000   NY
3  104    David   33   62000   SF
4  102      Bob   29   50000   LA
5  106    Alice   27   59000   LA
6  101    Alica   25   55000   NY

Duplicates Removed -partial match based on ID
    ID     Name  Age  Salary city
0  101    Alice   25   50000   NY
1  102      Bob   29   48000   LA
2  103  Charlie   29   55000   NY
3  104    David   33   62000   SF
5  106    Alice   27   59000   LA

Duplicate Removed-Partial match based on  Name
    ID     Name  Age  Salary city
0  101    Alice   25   50000   NY
1  102      Bob   29   48000   LA
2  103  Charlie   29   55000   NY
3  104    David   33   62000   SF
6  101    Alica   25   55000   NY

Duplicate Removed-Partial match based on ID and Name
    ID     Name  Age  Salary city
0  101    Alice   25   50000   NY
1  102      Bob   29   48000   LA
2  103  Charlie   29   55000   NY
3  104    David   33   62000   SF
5  106    Alice   27   59000   LA
6  101    Alica   25   55000   NY